{"openapi":"3.1.0","info":{"title":"App Base API","description":"API REST base com autenticação JWT, gestão de utilizadores, upload de ficheiros e sistema de refresh tokens. Desenvolvida para servir como ponto de partida em novos projectos.","version":"1.0.0"},"servers":[{"url":"https://libera.ss-cloud.co"}],"security":[{"Bearer Authentication":[]}],"tags":[{"name":"Autenticação","description":"Endpoints de autenticação e gestão de sessão"},{"name":"Materiais de Apoio","description":"Consulta de materiais de apoio dirigidos ao parceiro autenticado"},{"name":"Admin - Materiais de Apoio","description":"Gestão de materiais de apoio (acesso exclusivo a administradores)"},{"name":"Ficheiros","description":"Acesso a ficheiros carregados na plataforma"},{"name":"Notas de Lead","description":"Gestão de notas associadas a leads (acesso exclusivo a utilizadores com papel PARCEIRO)"},{"name":"Leads","description":"Gestão de leads (acesso exclusivo a utilizadores com papel PARCEIRO)"},{"name":"Tickets","description":"Consulta de tickets do parceiro autenticado"},{"name":"Admin - Parceiros","description":"Gestão de parceiros (acesso exclusivo a administradores)"},{"name":"Utilizadores","description":"Gestão de utilizadores da plataforma"}],"paths":{"/api/v1/usuarios/{usuarioId}":{"get":{"tags":["Utilizadores"],"summary":"Buscar utilizador","description":"Retorna um utilizador pelo publicId","operationId":"buscarPorId","parameters":[{"name":"usuarioId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Utilizador encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UsuarioResponse"}}}},"401":{"description":"Não autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Utilizador não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}},"put":{"tags":["Utilizadores"],"summary":"Editar utilizador","description":"Actualiza nome e role de um utilizador existente","operationId":"editar","parameters":[{"name":"usuarioId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsuarioUpdateRequest"}}},"required":true},"responses":{"202":{"description":"Utilizador actualizado com sucesso"},"400":{"description":"Campos inválidos","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"401":{"description":"Não autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Utilizador não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}},"delete":{"tags":["Utilizadores"],"summary":"Eliminar utilizador","description":"Elimina permanentemente um utilizador","operationId":"eliminar","parameters":[{"name":"usuarioId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Utilizador eliminado com sucesso"},"401":{"description":"Não autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Utilizador não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/leads/{publicId}":{"get":{"tags":["Leads"],"summary":"Detalhes do lead","description":"Retorna todos os dados de um lead, incluindo notas","operationId":"buscarDetalhes","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Lead encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LeadResponse"}}}},"403":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Lead não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}},"put":{"tags":["Leads"],"summary":"Editar lead","description":"Actualiza os dados de um lead. Se o novo estado for CONVERTIDO é obrigatório enviar o comprovativo (caso ainda não exista). O comprovativo é opcional para os restantes estados.","operationId":"editar_1","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"dados":{"$ref":"#/components/schemas/LeadRequest"},"comprovativo":{"type":"string","format":"binary"}},"required":["dados"]}}}},"responses":{"202":{"description":"Lead actualizado com sucesso"},"400":{"description":"Campos inválidos ou comprovativo em falta para CONVERTIDO","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"403":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Lead ou pacote não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}},"delete":{"tags":["Leads"],"summary":"Eliminar lead","description":"Elimina permanentemente um lead e as suas notas","operationId":"eliminar_1","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Lead eliminado com sucesso"},"403":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Lead não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/leads/{leadPublicId}/notas/{publicId}":{"put":{"tags":["Notas de Lead"],"summary":"Editar nota","description":"Actualiza o texto de uma nota. Só o autor pode editar.","operationId":"editar_2","parameters":[{"name":"leadPublicId","in":"path","required":true,"schema":{"type":"string"}},{"name":"publicId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotaLeadRequest"}}},"required":true},"responses":{"202":{"description":"Nota actualizada"},"400":{"description":"Campos inválidos","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"403":{"description":"Acesso negado ou não é o autor","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Nota não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}},"delete":{"tags":["Notas de Lead"],"summary":"Eliminar nota","description":"Elimina permanentemente uma nota. Só o autor pode eliminar.","operationId":"eliminar_2","parameters":[{"name":"leadPublicId","in":"path","required":true,"schema":{"type":"string"}},{"name":"publicId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Nota eliminada"},"403":{"description":"Acesso negado ou não é o autor","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Nota não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/admin/parceiros/{publicId}":{"get":{"tags":["Admin - Parceiros"],"summary":"Detalhes do parceiro","description":"Retorna todos os dados de um parceiro, incluindo se tem anexo (BI/Passaporte)","operationId":"buscarDetalhes_1","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Parceiro encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ParceiroDetailResponse"}}}},"403":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Parceiro não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}},"put":{"tags":["Admin - Parceiros"],"summary":"Editar parceiro","description":"Actualiza os dados de um parceiro. Todos os campos são opcionais; apenas os fornecidos são actualizados. Pode substituir a foto e/ou o documento BI.","operationId":"editar_3","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"dados":{"$ref":"#/components/schemas/ParceiroUpdateRequest"},"foto":{"type":"string","format":"binary"},"documento":{"type":"string","format":"binary"}},"required":["dados"]}}}},"responses":{"202":{"description":"Parceiro actualizado"},"400":{"description":"Campos inválidos","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"403":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Parceiro, tipo de parceiro ou província não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}},"delete":{"tags":["Admin - Parceiros"],"summary":"Eliminar parceiro","description":"Elimina o parceiro e todos os dados associados: leads (e respectivas notas e comprovativos), tickets e o utilizador do sistema.","operationId":"eliminar_3","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Parceiro eliminado"},"403":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Parceiro não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/admin/materiais-apoio/{publicId}":{"put":{"tags":["Admin - Materiais de Apoio"],"summary":"Editar material de apoio","description":"Actualiza nome, tipos de parceiro e/ou tipo de conteúdo. Pode opcionalmente substituir o ficheiro.","operationId":"editar_4","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"dados":{"$ref":"#/components/schemas/MaterialApoioRequest"},"arquivo":{"type":"string","format":"binary"}},"required":["dados"]}}}},"responses":{"202":{"description":"Material actualizado"},"400":{"description":"Campos inválidos","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"403":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Material ou tipo de parceiro não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/usuarios":{"get":{"tags":["Utilizadores"],"summary":"Listar utilizadores","description":"Lista todos os utilizadores com paginação","operationId":"listar","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"Lista retornada com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseUsuarioResponse"}}}},"401":{"description":"Não autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}},"post":{"tags":["Utilizadores"],"summary":"Criar utilizador","description":"Cria um novo utilizador associado ao criador autenticado e retorna o seu publicId","operationId":"criar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsuarioRequest"}}},"required":true},"responses":{"201":{"description":"Utilizador criado com sucesso","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Campos inválidos ou email já registado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"401":{"description":"Não autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/leads":{"get":{"tags":["Leads"],"summary":"Listar os meus leads","description":"Lista os leads do parceiro autenticado com filtros opcionais por estado, data inicial e data final","operationId":"listar_1","parameters":[{"name":"estado","in":"query","required":false,"schema":{"type":"string","enum":["LEAD","PENDENTE","CONVERTIDO","PERDIDO"]}},{"name":"dataInicial","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"dataFinal","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"pagina","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"tamanho","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"Lista paginada de leads","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseLeadResumoResponse"}}}},"403":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}},"post":{"tags":["Leads"],"summary":"Criar lead","description":"Cria um novo lead associado a um parceiro e pacote","operationId":"criar_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeadRequest"}}},"required":true},"responses":{"201":{"description":"Lead criado — devolve o publicId","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Campos inválidos","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"403":{"description":"Acesso negado — requer papel PARCEIRO","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Parceiro ou pacote não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/leads/{leadPublicId}/notas":{"get":{"tags":["Notas de Lead"],"summary":"Listar notas","description":"Retorna todas as notas de um lead, ordenadas da mais recente para a mais antiga","operationId":"listar_2","parameters":[{"name":"leadPublicId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Lista de notas","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NotaLeadResponse"}}}}},"403":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Lead não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}},"post":{"tags":["Notas de Lead"],"summary":"Criar nota","description":"Adiciona uma nova nota a um lead","operationId":"criar_2","parameters":[{"name":"leadPublicId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotaLeadRequest"}}},"required":true},"responses":{"201":{"description":"Nota criada — devolve o publicId","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Campos inválidos","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"403":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Lead não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/auth/register":{"post":{"tags":["Autenticação"],"summary":"Registar utilizador","description":"Cria uma conta pública com role ADMIN e devolve tokens prontos a usar","operationId":"registrar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"201":{"description":"Conta criada com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}},"400":{"description":"Campos inválidos ou email já registado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/auth/refresh-token":{"post":{"tags":["Autenticação"],"summary":"Renovar access token","description":"Emite novos tokens a partir de um refresh token válido","operationId":"refreshToken","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Tokens renovados com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}},"400":{"description":"Refresh token inválido ou expirado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"401":{"description":"Não autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/auth/logout":{"post":{"tags":["Autenticação"],"summary":"Terminar sessão","description":"Invalida todos os tokens activos — efeito quase imediato","operationId":"logout","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Sessão terminada com sucesso"},"401":{"description":"Não autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/auth/login":{"post":{"tags":["Autenticação"],"summary":"Autenticar utilizador","description":"Autentica com email/password e retorna access + refresh tokens","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthRequest"}}},"required":true},"responses":{"200":{"description":"Autenticado com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}},"400":{"description":"Campos inválidos","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"401":{"description":"Credenciais incorrectas","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/admin/parceiros":{"get":{"tags":["Admin - Parceiros"],"summary":"Listar parceiros","description":"Lista todos os parceiros com filtros opcionais por nome, província e tipo de parceiro","operationId":"listar_3","parameters":[{"name":"nome","in":"query","required":false,"schema":{"type":"string"}},{"name":"provinciaPublicId","in":"query","required":false,"schema":{"type":"string"}},{"name":"tipoParceiroPublicId","in":"query","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"tamanho","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"Lista paginada de parceiros","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseParceiroResumoResponse"}}}},"403":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}},"post":{"tags":["Admin - Parceiros"],"summary":"Criar parceiro","description":"Cria um novo parceiro e o respectivo utilizador com papel PARCEIRO. Aceita foto e documento BI/Passaporte opcionais.","operationId":"criar_3","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"dados":{"$ref":"#/components/schemas/ParceiroRequest"},"foto":{"type":"string","format":"binary"},"documento":{"type":"string","format":"binary"}},"required":["dados"]}}}},"responses":{"201":{"description":"Parceiro criado — devolve o publicId","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Campos inválidos ou duplicados","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"403":{"description":"Acesso negado — requer papel ADMIN","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Tipo de parceiro ou província não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/admin/materiais-apoio":{"post":{"tags":["Admin - Materiais de Apoio"],"summary":"Criar material de apoio","description":"Cria um novo material de apoio com ficheiro (imagem ou PDF) associado a um ou mais tipos de parceiro","operationId":"criar_4","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"dados":{"$ref":"#/components/schemas/MaterialApoioRequest"},"arquivo":{"type":"string","format":"binary"}},"required":["dados"]}}}},"responses":{"201":{"description":"Material criado — devolve o publicId","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Campos inválidos","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"403":{"description":"Acesso negado — requer papel ADMIN","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Tipo de parceiro não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/usuarios/{usuarioId}/foto":{"patch":{"tags":["Utilizadores"],"summary":"Actualizar foto de perfil","description":"Faz upload de uma nova foto de perfil (JPEG, PNG ou WEBP, máx 5 MB). O próprio utilizador ou um ADMIN pode alterar a foto.","operationId":"uploadFoto","parameters":[{"name":"usuarioId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"202":{"description":"Foto actualizada — devolve a URL completa da nova foto","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Ficheiro inválido ou tipo não suportado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"401":{"description":"Não autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"403":{"description":"Sem permissão para alterar a foto deste utilizador","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Utilizador não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/leads/{publicId}/comprovativo":{"patch":{"tags":["Leads"],"summary":"Upload de comprovativo","description":"Faz upload do comprovativo de um lead (JPEG, PNG, WEBP ou PDF, máx 5 MB)","operationId":"uploadComprovativo","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"202":{"description":"Comprovativo carregado — devolve o caminho relativo","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Ficheiro inválido ou tipo não suportado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"403":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Lead não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/files/{subdir}/{filename}":{"get":{"tags":["Ficheiros"],"summary":"Obter ficheiro","description":"Retorna um ficheiro carregado (imagem) pelo seu caminho relativo. Endpoint público.","operationId":"serveFile","parameters":[{"name":"subdir","in":"path","required":true,"schema":{"type":"string"}},{"name":"filename","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/api/v1/usuarios/meus":{"get":{"tags":["Utilizadores"],"summary":"Listar meus utilizadores","description":"Lista os utilizadores criados pelo utilizador autenticado","operationId":"listarMeus","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"Lista retornada com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseUsuarioResponse"}}}},"401":{"description":"Não autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/tickets":{"get":{"tags":["Tickets"],"summary":"Listar os meus tickets","description":"Retorna todos os tickets publicados pelo parceiro autenticado (paginado)","operationId":"listar_4","parameters":[{"name":"pagina","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"tamanho","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"Lista paginada de tickets","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseTicketResumoResponse"}}}},"403":{"description":"Acesso negado — requer papel PARCEIRO","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/tickets/{publicId}":{"get":{"tags":["Tickets"],"summary":"Detalhes do ticket","description":"Retorna todas as informações de um ticket específico","operationId":"buscarDetalhes_2","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ticket encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketResponse"}}}},"403":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Ticket não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/materiais-apoio":{"get":{"tags":["Materiais de Apoio"],"summary":"Listar materiais de apoio","description":"Retorna os materiais de apoio cujo alvo inclui o tipo de parceiro do utilizador autenticado. Permite pesquisar por nome e filtrar por tipo de conteúdo.","operationId":"listar_5","parameters":[{"name":"nome","in":"query","required":false,"schema":{"type":"string"}},{"name":"tipoConteudo","in":"query","required":false,"schema":{"type":"string","enum":["PROMOCIONAL","EDUCATIVO"]}},{"name":"pagina","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"tamanho","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"Lista paginada de materiais de apoio","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseMaterialApoioResponse"}}}},"403":{"description":"Acesso negado — requer papel PARCEIRO","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Parceiro não encontrado para o utilizador autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/leads/recentes":{"get":{"tags":["Leads"],"summary":"Leads dos últimos 7 dias","description":"Retorna os leads criados nos últimos 7 dias pelo parceiro autenticado","operationId":"ultimosSeteDias","responses":{"200":{"description":"Lista de leads recentes","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LeadResumoResponse"}}}}},"403":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/leads/overview":{"get":{"tags":["Leads"],"summary":"Overview dos meus leads","description":"Retorna o total de leads e o total de faturação do parceiro autenticado para uso em dashboard","operationId":"overview","responses":{"200":{"description":"Overview calculado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LeadOverviewResponse"}}}},"403":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/leads/admin/todos":{"get":{"tags":["Leads"],"summary":"Listar todos os leads (Admin)","description":"Lista todos os leads de todos os parceiros com filtros opcionais. Acesso exclusivo ao ADMIN.","operationId":"listarAdmin","parameters":[{"name":"estado","in":"query","required":false,"schema":{"type":"string","enum":["LEAD","PENDENTE","CONVERTIDO","PERDIDO"]}},{"name":"dataInicial","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"dataFinal","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"parceiroPublicId","in":"query","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"tamanho","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"Lista paginada de leads","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseLeadResumoResponse"}}}},"403":{"description":"Acesso negado — requer papel ADMIN","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/admin/parceiros/{publicId}/documento":{"get":{"tags":["Admin - Parceiros"],"summary":"Baixar documento BI/Passaporte","description":"Faz download do documento de identificação (BI ou Passaporte) do parceiro","operationId":"baixarDocumento","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ficheiro enviado","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}},"403":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Parceiro ou documento não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}},"/api/v1/admin/materiais-apoio/{publicId}/ficheiro":{"get":{"tags":["Admin - Materiais de Apoio"],"summary":"Baixar ficheiro do material","description":"Faz download do ficheiro associado ao material de apoio","operationId":"baixarFicheiro","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ficheiro enviado","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}},"403":{"description":"Acesso negado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}},"404":{"description":"Material ou ficheiro não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StandardError"}}}}}}}},"components":{"schemas":{"UsuarioUpdateRequest":{"type":"object","properties":{"nome":{"type":"string","minLength":1},"role":{"type":"string","enum":["ADMIN","PARCEIRO"]}},"required":["nome","role"]},"StandardError":{"type":"object","properties":{"type":{"type":"string"},"msg":{"type":"string"},"errors":{"type":"array","items":{"type":"string"}}}},"LeadRequest":{"type":"object","properties":{"nome":{"type":"string","minLength":1},"email":{"type":"string"},"telemovel":{"type":"string"},"nif":{"type":"string"},"pacotePublicId":{"type":"string","minLength":1},"estado":{"type":"string","enum":["LEAD","PENDENTE","CONVERTIDO","PERDIDO"]}},"required":["nome","pacotePublicId"]},"NotaLeadRequest":{"type":"object","properties":{"nota":{"type":"string","minLength":1}},"required":["nota"]},"ParceiroUpdateRequest":{"type":"object","properties":{"nome":{"type":"string"},"nif":{"type":"string"},"iban":{"type":"string"},"telefone":{"type":"string"},"email":{"type":"string"},"endereco":{"type":"string"},"tipoParceiroPublicId":{"type":"string"},"provinciaPublicId":{"type":"string"}}},"MaterialApoioRequest":{"type":"object","properties":{"nome":{"type":"string","minLength":1},"tiposParceiroPublicIds":{"type":"array","items":{"type":"string"},"minItems":1},"tipoConteudo":{"type":"string","enum":["PROMOCIONAL","EDUCATIVO"]}},"required":["nome","tiposParceiroPublicIds"]},"UsuarioRequest":{"type":"object","properties":{"nome":{"type":"string","minLength":1},"username":{"type":"string","minLength":1},"password":{"type":"string","maxLength":2147483647,"minLength":8},"role":{"type":"string","enum":["ADMIN","PARCEIRO"]}},"required":["nome","password","role","username"]},"RegisterRequest":{"type":"object","properties":{"nome":{"type":"string","minLength":1},"username":{"type":"string","minLength":1},"password":{"type":"string","maxLength":2147483647,"minLength":8}},"required":["nome","password","username"]},"AuthResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nome":{"type":"string"},"username":{"type":"string"},"role":{"type":"string","enum":["ADMIN","PARCEIRO"]},"foto":{"type":"string"},"access_token":{"type":"string"},"refresh_token":{"type":"string"},"public_id":{"type":"string"}}},"AuthRequest":{"type":"object","properties":{"username":{"type":"string","minLength":1},"password":{"type":"string","minLength":1}},"required":["password","username"]},"ParceiroRequest":{"type":"object","properties":{"nome":{"type":"string","minLength":1},"nif":{"type":"string","minLength":1},"iban":{"type":"string"},"telefone":{"type":"string","minLength":1},"email":{"type":"string","minLength":1},"password":{"type":"string","minLength":1},"endereco":{"type":"string"},"tipoParceiroPublicId":{"type":"string","minLength":1},"provinciaPublicId":{"type":"string","minLength":1}},"required":["email","nif","nome","password","provinciaPublicId","telefone","tipoParceiroPublicId"]},"PageResponseUsuarioResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/UsuarioResponse"}},"number":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"UsuarioResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"publicId":{"type":"string"},"nome":{"type":"string"},"username":{"type":"string"},"role":{"type":"string","enum":["ADMIN","PARCEIRO"]},"foto":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"criadorPublicId":{"type":"string"},"criadorNome":{"type":"string"}}},"PageResponseTicketResumoResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/TicketResumoResponse"}},"number":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"TicketResumoResponse":{"type":"object","properties":{"publicId":{"type":"string"},"conteudo":{"type":"string"},"tipo":{"type":"string","enum":["CANCELAR","BUG","RECLAMACAO","OUTRO"]},"estado":{"type":"string","enum":["ABERTO","PROGRESSO","RESOLVIDO"]},"createdAt":{"type":"string"}}},"TicketResponse":{"type":"object","properties":{"publicId":{"type":"string"},"conteudo":{"type":"string"},"tipo":{"type":"string","enum":["CANCELAR","BUG","RECLAMACAO","OUTRO"]},"estado":{"type":"string","enum":["ABERTO","PROGRESSO","RESOLVIDO"]},"publicadoPorPublicId":{"type":"string"},"publicadoPorNome":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"MaterialApoioResponse":{"type":"object","properties":{"publicId":{"type":"string"},"nome":{"type":"string"},"arquivoUrl":{"type":"string"},"tipoConteudo":{"type":"string","enum":["PROMOCIONAL","EDUCATIVO"]},"createdAt":{"type":"string"}}},"PageResponseMaterialApoioResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/MaterialApoioResponse"}},"number":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"LeadResumoResponse":{"type":"object","properties":{"publicId":{"type":"string"},"nome":{"type":"string"},"pacoteNome":{"type":"string"},"pacotePreco":{"type":"number"},"estado":{"type":"string","enum":["LEAD","PENDENTE","CONVERTIDO","PERDIDO"]},"createdAt":{"type":"string"}}},"PageResponseLeadResumoResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/LeadResumoResponse"}},"number":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"LeadResponse":{"type":"object","properties":{"publicId":{"type":"string"},"nome":{"type":"string"},"email":{"type":"string"},"telemovel":{"type":"string"},"nif":{"type":"string"},"estado":{"type":"string","enum":["LEAD","PENDENTE","CONVERTIDO","PERDIDO"]},"comprovantivoUrl":{"type":"string"},"pacotePublicId":{"type":"string"},"pacoteNome":{"type":"string"},"pacotePreco":{"type":"number"},"parceiroPublicId":{"type":"string"},"parceiroNome":{"type":"string"},"usuarioPublicId":{"type":"string"},"usuarioNome":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"notas":{"type":"array","items":{"$ref":"#/components/schemas/NotaLeadResponse"}}}},"NotaLeadResponse":{"type":"object","properties":{"publicId":{"type":"string"},"nota":{"type":"string"},"usuarioPublicId":{"type":"string"},"usuarioNome":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"LeadOverviewResponse":{"type":"object","properties":{"totalLeads":{"type":"integer","format":"int64"},"totalFaturacao":{"type":"number"}}},"PageResponseParceiroResumoResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/ParceiroResumoResponse"}},"number":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"ParceiroResumoResponse":{"type":"object","properties":{"publicId":{"type":"string"},"nome":{"type":"string"},"telefone":{"type":"string"},"email":{"type":"string"},"nif":{"type":"string"},"fotoUrl":{"type":"string"},"provinciaNome":{"type":"string"},"tipoParceiroNome":{"type":"string"},"createdAt":{"type":"string"}}},"ParceiroDetailResponse":{"type":"object","properties":{"publicId":{"type":"string"},"nome":{"type":"string"},"nif":{"type":"string"},"iban":{"type":"string"},"telefone":{"type":"string"},"email":{"type":"string"},"endereco":{"type":"string"},"fotoUrl":{"type":"string"},"temAnexo":{"type":"boolean"},"provinciaPublicId":{"type":"string"},"provinciaNome":{"type":"string"},"tipoParceiroPublicId":{"type":"string"},"tipoParceiroNome":{"type":"string"},"usuarioPublicId":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}}},"securitySchemes":{"Bearer Authentication":{"type":"http","name":"Bearer Authentication","scheme":"bearer","bearerFormat":"JWT"}}}}
