<!DOCTYPE html><!--  Last Published: Sat Apr 25 2026 22:30:53 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="69ece585cad09a74baae0dbb" data-wf-site="69ece585cad09a74baae0d40" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragments/head :: head('Modals')}"></head>
<body>
  <div style="display:none;opacity:0" class="modals-wrapper">
    <div style="display:none;-webkit-transform:translate3d(0, -120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="modal success">
      <div class="modal-icon success"></div>
      <div class="modal-text-wrapper">
        <h2 class="modal-header">Sucesso!</h2>
        <div class="modal-subtext visible">This is some text inside of a div block.</div>
      </div>
      <div class="close-modal"></div>
    </div>
    <div style="display:none;-webkit-transform:translate3d(0, -120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="modal info">
      <div class="modal-icon info"></div>
      <div class="modal-text-wrapper">
        <h2 class="modal-header">Informação</h2>
        <div class="modal-subtext visible">This is some text inside of a div block.</div>
      </div>
      <div class="close-modal"></div>
    </div>
    <div style="display:none;-webkit-transform:translate3d(0, -120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="modal error">
      <div class="modal-icon error"></div>
      <div class="modal-text-wrapper">
        <h2 class="modal-header">Erro!</h2>
        <div class="modal-subtext visible">This is some text inside of a div block.</div>
      </div>
      <div class="close-modal"></div>
    </div>
    <div style="display:none;-webkit-transform:translate3d(0, -120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -120%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="modal warning w-clearfix">
      <div class="modal-icon warning"></div>
      <div class="modal-text-wrapper">
        <h2 class="modal-header">Alerta?</h2>
        <div class="modal-subtext visible">This is some text inside of a div block.</div>
      </div>
      <div class="modal-cta-wrapper">
        <div class="_3-buttons-wrapper">
          <a href="#" class="action-button modal-button cancelar-acao w-inline-block">
            <div class="button-text">Cancelar</div>
          </a>
          <a href="#" class="action-button modal-button sim w-inline-block">
            <div class="button-text">Sim, ação</div>
          </a>
        </div>
      </div>
    </div>
    <div class="mega-close-modal"></div>
  </div>
  <div class="html-embed w-embed"></div>
  <div class="modal-trigger-wrapper">
    <a id="w-node-ed304165-4fa3-0bb7-59c5-bf40afbe7b21-baae0dbb" href="#" class="sucesso">Sucesso </a>
    <a id="w-node-f0a58a09-6a5b-69dd-b14e-feda93e05c58-baae0dbb" href="#" class="informacao">Informação</a>
    <a id="w-node-cf2de119-531f-b9c5-6c52-6dcd55842505-baae0dbb" href="#" class="erro">Erro</a>
    <a id="w-node-_6926af45-38cc-56a4-a9da-a4126f900c18-baae0dbb" href="#" class="alerta">Alerta</a>
  </div>
  <th:block th:replace="~{layout/fragments/scripts :: scripts}"></th:block>
</body>
</html>