<!DOCTYPE html><!--  Last Published: Tue Apr 21 2026 11:33:50 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="69e60b2f16d9365e83a9cc6d" data-wf-site="69e60b2f16d9365e83a9cc56">

<head th:replace="~{layout/fragments/dashboard_layout :: head('Dashboard - Fiinika Comercial')}">
</head>

<body>
  <div class="mother-div dash">
    <div class="page-content-wrapper">
      <div th:replace="~{layout/fragments/dashboard_layout :: navbar}"></div>
      <div data-w-id="287978e4-e45d-6d8f-5d8e-7bd478f34aad" style="opacity:0" class="content">
        <section class="criar-page-section">
          <div class="container">
            <div class="dash-main-content">
              <div class="div-block-116">
                <div class="w-layout-grid grid-9">
                  <div class="div-block-118">
                    <div class="text-block-127">Receita do mês</div>
                    <div class="text-block-128">KZ 400.000.000</div>
                  </div>
                  <div class="div-block-118">
                    <div class="text-block-127">Despesas do mês</div>
                    <div class="text-block-128">KZ 10.000.000</div>
                  </div>
                  <div class="div-block-118">
                    <div class="text-block-127">Resultado do mês</div>
                    <div class="text-block-128">KZ 10.000.000</div>
                  </div>
                </div>
              </div>
              <div class="div-block-117">
                <div class="w-layout-grid grid-8">
                  <a href="../fiinika/documentos/factura/criar-factura-recibo.html" class="link-block-4 w-inline-block">
                    <div class="text-block-126">s</div>
                    <div class="text-block-132">Criar factura/recibo</div>
                  </a>
                  <a href="../fiinika/documentos/proforma/criar-proforma.html" class="link-block-4 w-inline-block">
                    <div class="text-block-126">c</div>
                    <div>Criar proforma</div>
                  </a>
                  <a href="../fiinika/despesas/criar-despesa.html" class="link-block-4 w-inline-block">
                    <div class="text-block-126">h</div>
                    <div>Registar despesa</div>
                  </a>
                  <a href="../fiinika/clientes/criar-novo-cliente.html" class="link-block-4 w-inline-block">
                    <div class="text-block-126">j</div>
                    <div>Criar cliente</div>
                  </a>
                  <a href="../fiinika/fornecedores/criar-fornecedor.html" class="link-block-4 w-inline-block">
                    <div class="text-block-126">x</div>
                    <div>Criar fornecedor</div>
                  </a>
                  <a href="#" class="link-block-4 w-inline-block">
                    <div class="text-block-126">a</div>
                    <div>Meu stock</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="form-wrapper w-form">
              <form id="wf-form-Criar-Fatura" name="wf-form-Criar-Fatura" data-name="Criar Fatura" method="get"
                class="form" data-wf-page-id="69e60b2f16d9365e83a9cc6d"
                data-wf-element-id="0fdf0245-ad7e-cb69-8478-86e5811315de">
                <div class="form-section">
                  <div class="form-section-wrapper">
                    <h2 class="table-header">Últimos movimentos</h2>
                  </div>
                  <div class="table">
                    <div class="table-row cell-label-wrapper"><label class="w-checkbox table-checkbox-wrapper">
                        <div class="w-checkbox-input w-checkbox-input--inputType-custom table-checkbox"></div><input
                          type="checkbox" name="checkbox-2" id="checkbox-2" data-name="Checkbox 2"
                          style="opacity:0;position:absolute;z-index:-1"><span
                          class="checkbox-lable hidden w-form-label" for="checkbox-2">Checkbox</span>
                      </label>
                      <div class="table-row-content">
                        <div class="cell-label _10">
                          <div class="table-cell-text">Nº</div>
                        </div>
                        <div class="cell-label _25">
                          <div class="table-cell-text">Entidade</div>
                        </div>
                        <div class="cell-label _15">
                          <div class="table-cell-text">Criado por</div>
                        </div>
                        <div class="cell-label _15">
                          <div class="table-cell-text">Data</div>
                        </div>
                        <div class="cell-label _20">
                          <div class="table-cell-text">Valor</div>
                        </div>
                        <div class="cell-label _15">
                          <div class="table-cell-text">Documento</div>
                        </div>
                      </div>
                    </div>
                    <div class="table-row"><label class="w-checkbox table-checkbox-wrapper">
                        <div class="w-checkbox-input w-checkbox-input--inputType-custom table-checkbox"></div><input
                          type="checkbox" name="checkbox-2" id="checkbox-2" data-name="Checkbox 2"
                          style="opacity:0;position:absolute;z-index:-1"><span
                          class="checkbox-lable hidden w-form-label" for="checkbox-2">Checkbox</span>
                      </label>
                      <a href="#" class="table-row-content item-link w-inline-block">
                        <div class="table-cell _10">
                          <div class="table-cell-text bold">PK2208015</div>
                        </div>
                        <div class="table-cell _25 client-cell i">
                          <div class="table-image-wrapper"><img sizes="(max-width: 750px) 100vw, 750px"
                              srcset="../images/logo-dexa-prox-p-500.png 500w, ../images/logo-dexa-prox.png 750w"
                              src="../images/logo-dexa-prox.png" loading="lazy" alt="" class="img is--contain"></div>
                          <div class="table-cell-text">Fedex Angola, Lda</div>
                        </div>
                        <div class="table-cell _15 i">
                          <div class="table-cell-text">Nome do Admin</div>
                        </div>
                        <div class="table-cell _15">
                          <div class="table-cell-text">12/08/2022</div>
                        </div>
                        <div class="table-cell _20">
                          <div class="table-cell-text">KZ 68.000,00</div>
                        </div>
                        <div class="table-cell _15">
                          <div class="status-wrapper pago hidden">
                            <div class="status-text">Pago</div>
                          </div>
                          <div class="status-wrapper nao-pago hidden">
                            <div class="status-text">Não pago</div>
                          </div>
                          <div class="status-wrapper reembolso hidden">
                            <div class="status-text">Rembolso</div>
                          </div>
                          <div class="status-wrapper cancelado">
                            <div class="status-text">despesa</div>
                          </div>
                        </div>
                      </a>
                      <div class="table-row-action-button-wrapper">
                        <a href="#" class="table-action-button w-inline-block">
                          <div class="icon _3-dots"><img width="12" alt="" src="../images/3dots-gray.svg" loading="lazy"
                              class="_3dots"></div>
                        </a>
                        <div class="flyout-menu-wrapper table-actions-flyout">
                          <div class="flyout-menu-content in-table">
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">visibility</div>
                                </div>
                              </div>
                              <div class="button-text">Visualizar</div>
                            </a>
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">Print</div>
                                </div>
                              </div>
                              <div class="button-text">Imprimir</div>
                            </a>
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">Download</div>
                                </div>
                              </div>
                              <div class="button-text">Descarregar</div>
                            </a>
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">Delete</div>
                                </div>
                              </div>
                              <div class="button-text">Eliminar</div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-row"><label class="w-checkbox table-checkbox-wrapper">
                        <div class="w-checkbox-input w-checkbox-input--inputType-custom table-checkbox"></div><input
                          type="checkbox" name="checkbox-2" id="checkbox-2" data-name="Checkbox 2"
                          style="opacity:0;position:absolute;z-index:-1"><span
                          class="checkbox-lable hidden w-form-label" for="checkbox-2">Checkbox</span>
                      </label>
                      <a href="#" class="table-row-content item-link w-inline-block">
                        <div class="table-cell _10">
                          <div class="table-cell-text bold">PK2208015</div>
                        </div>
                        <div class="table-cell _25 client-cell">
                          <div class="table-image-wrapper no-mobile"><img sizes="(max-width: 750px) 100vw, 750px"
                              srcset="../images/logo-dexa-prox-p-500.png 500w, ../images/logo-dexa-prox.png 750w"
                              src="../images/logo-dexa-prox.png" loading="lazy" alt="" class="img is--contain"></div>
                          <div class="table-cell-text">Fedex Angola, Lda</div>
                        </div>
                        <div class="table-cell _15 i">
                          <div class="table-cell-text">Nome do Admin</div>
                        </div>
                        <div class="table-cell _15 i">
                          <div class="table-cell-text">12/08/2022</div>
                        </div>
                        <div class="table-cell _20">
                          <div class="table-cell-text">KZ 68.000,00</div>
                        </div>
                        <div class="table-cell _15">
                          <div class="status-wrapper pago hidden">
                            <div class="status-text">Pago</div>
                          </div>
                          <div class="status-wrapper nao-pago hidden">
                            <div class="status-text">Não pago</div>
                          </div>
                          <div class="status-wrapper reembolso hidden">
                            <div class="status-text">Rembolso</div>
                          </div>
                          <div class="status-wrapper pago">
                            <div class="status-text">recibo</div>
                          </div>
                        </div>
                      </a>
                      <div class="table-row-action-button-wrapper">
                        <a href="#" class="table-action-button w-inline-block">
                          <div class="icon _3-dots"><img width="12" alt="" src="../images/3dots-gray.svg" loading="lazy"
                              class="_3dots"></div>
                        </a>
                        <div class="flyout-menu-wrapper table-actions-flyout">
                          <div class="flyout-menu-content in-table">
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">visibility</div>
                                </div>
                              </div>
                              <div class="button-text">Visualizar</div>
                            </a>
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">Print</div>
                                </div>
                              </div>
                              <div class="button-text">Imprimir</div>
                            </a>
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">Download</div>
                                </div>
                              </div>
                              <div class="button-text">Descarregar</div>
                            </a>
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">Delete</div>
                                </div>
                              </div>
                              <div class="button-text">Eliminar</div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-row"><label class="w-checkbox table-checkbox-wrapper">
                        <div class="w-checkbox-input w-checkbox-input--inputType-custom table-checkbox"></div><input
                          type="checkbox" name="checkbox-2" id="checkbox-2" data-name="Checkbox 2"
                          style="opacity:0;position:absolute;z-index:-1"><span
                          class="checkbox-lable hidden w-form-label" for="checkbox-2">Checkbox</span>
                      </label>
                      <a href="#" class="table-row-content item-link w-inline-block">
                        <div class="table-cell _10">
                          <div class="table-cell-text bold">PK2208015</div>
                        </div>
                        <div class="table-cell _25 client-cell">
                          <div class="table-image-wrapper no-mobile"><img sizes="(max-width: 750px) 100vw, 750px"
                              srcset="../images/logo-dexa-prox-p-500.png 500w, ../images/logo-dexa-prox.png 750w"
                              src="../images/logo-dexa-prox.png" loading="lazy" alt="" class="img is--contain"></div>
                          <div class="table-cell-text">Fedex Angola, Lda</div>
                        </div>
                        <div class="table-cell _15 i">
                          <div class="table-cell-text">Nome do Admin</div>
                        </div>
                        <div class="table-cell _15 i">
                          <div class="table-cell-text">12/08/2022</div>
                        </div>
                        <div class="table-cell _20">
                          <div class="table-cell-text">KZ 68.000,00</div>
                        </div>
                        <div class="table-cell _15">
                          <div class="status-wrapper pago hidden">
                            <div class="status-text">Pago</div>
                          </div>
                          <div class="status-wrapper nao-pago hidden">
                            <div class="status-text">Não pago</div>
                          </div>
                          <div class="status-wrapper reembolso hidden">
                            <div class="status-text">Rembolso</div>
                          </div>
                          <div class="status-wrapper factura">
                            <div class="status-text">FACTURA</div>
                          </div>
                        </div>
                      </a>
                      <div class="table-row-action-button-wrapper">
                        <a href="#" class="table-action-button w-inline-block">
                          <div class="icon _3-dots"><img width="12" alt="" src="../images/3dots-gray.svg" loading="lazy"
                              class="_3dots"></div>
                        </a>
                        <div class="flyout-menu-wrapper table-actions-flyout">
                          <div class="flyout-menu-content in-table">
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">visibility</div>
                                </div>
                              </div>
                              <div class="button-text">Visualizar</div>
                            </a>
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">Print</div>
                                </div>
                              </div>
                              <div class="button-text">Imprimir</div>
                            </a>
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">Download</div>
                                </div>
                              </div>
                              <div class="button-text">Descarregar</div>
                            </a>
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">Delete</div>
                                </div>
                              </div>
                              <div class="button-text">Eliminar</div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-row"><label class="w-checkbox table-checkbox-wrapper">
                        <div class="w-checkbox-input w-checkbox-input--inputType-custom table-checkbox"></div><input
                          type="checkbox" name="checkbox-2" id="checkbox-2" data-name="Checkbox 2"
                          style="opacity:0;position:absolute;z-index:-1"><span
                          class="checkbox-lable hidden w-form-label" for="checkbox-2">Checkbox</span>
                      </label>
                      <a href="#" class="table-row-content item-link w-inline-block">
                        <div class="table-cell _10">
                          <div class="table-cell-text bold">PK2208015</div>
                        </div>
                        <div class="table-cell _25 client-cell">
                          <div class="table-image-wrapper no-mobile"><img sizes="(max-width: 750px) 100vw, 750px"
                              srcset="../images/logo-dexa-prox-p-500.png 500w, ../images/logo-dexa-prox.png 750w"
                              src="../images/logo-dexa-prox.png" loading="lazy" alt="" class="img is--contain"></div>
                          <div class="table-cell-text">Fedex Angola, Lda</div>
                        </div>
                        <div class="table-cell _15 i">
                          <div class="table-cell-text">Nome do Admin</div>
                        </div>
                        <div class="table-cell _15 i">
                          <div class="table-cell-text">12/08/2022</div>
                        </div>
                        <div class="table-cell _20">
                          <div class="table-cell-text">KZ 68.000,00</div>
                        </div>
                        <div class="table-cell _15">
                          <div class="status-wrapper pago hidden">
                            <div class="status-text">Pago</div>
                          </div>
                          <div class="status-wrapper nao-pago hidden">
                            <div class="status-text">Não pago</div>
                          </div>
                          <div class="status-wrapper reembolso hidden">
                            <div class="status-text">Rembolso</div>
                          </div>
                          <div class="status-wrapper nao-pago">
                            <div class="status-text">proforma</div>
                          </div>
                        </div>
                      </a>
                      <div class="table-row-action-button-wrapper">
                        <a href="#" class="table-action-button w-inline-block">
                          <div class="icon _3-dots"><img width="12" alt="" src="../images/3dots-gray.svg" loading="lazy"
                              class="_3dots"></div>
                        </a>
                        <div class="flyout-menu-wrapper table-actions-flyout">
                          <div class="flyout-menu-content in-table">
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">visibility</div>
                                </div>
                              </div>
                              <div class="button-text">Visualizar</div>
                            </a>
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">Print</div>
                                </div>
                              </div>
                              <div class="button-text">Imprimir</div>
                            </a>
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">Download</div>
                                </div>
                              </div>
                              <div class="button-text">Descarregar</div>
                            </a>
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">Delete</div>
                                </div>
                              </div>
                              <div class="button-text">Eliminar</div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-row"><label class="w-checkbox table-checkbox-wrapper">
                        <div class="w-checkbox-input w-checkbox-input--inputType-custom table-checkbox"></div><input
                          type="checkbox" name="checkbox-2" id="checkbox-2" data-name="Checkbox 2"
                          style="opacity:0;position:absolute;z-index:-1"><span
                          class="checkbox-lable hidden w-form-label" for="checkbox-2">Checkbox</span>
                      </label>
                      <a href="#" class="table-row-content item-link w-inline-block">
                        <div class="table-cell _10">
                          <div class="table-cell-text bold">PK2208015</div>
                        </div>
                        <div class="table-cell _25 client-cell">
                          <div class="table-image-wrapper no-mobile"><img sizes="(max-width: 750px) 100vw, 750px"
                              srcset="../images/logo-dexa-prox-p-500.png 500w, ../images/logo-dexa-prox.png 750w"
                              src="../images/logo-dexa-prox.png" loading="lazy" alt="" class="img is--contain"></div>
                          <div class="table-cell-text">Fedex Angola, Lda</div>
                        </div>
                        <div class="table-cell _15 i">
                          <div class="table-cell-text">Nome do Admin</div>
                        </div>
                        <div class="table-cell _15 i">
                          <div class="table-cell-text">12/08/2022</div>
                        </div>
                        <div class="table-cell _20">
                          <div class="table-cell-text">KZ 68.000,00</div>
                        </div>
                        <div class="table-cell _15">
                          <div class="status-wrapper pago hidden">
                            <div class="status-text">Pago</div>
                          </div>
                          <div class="status-wrapper nao-pago hidden">
                            <div class="status-text">Não pago</div>
                          </div>
                          <div class="status-wrapper reembolso hidden">
                            <div class="status-text">Rembolso</div>
                          </div>
                          <div class="status-wrapper reembolso">
                            <div class="status-text">nota de cRÉDITO</div>
                          </div>
                        </div>
                      </a>
                      <div class="table-row-action-button-wrapper">
                        <a href="#" class="table-action-button w-inline-block">
                          <div class="icon _3-dots"><img width="12" alt="" src="../images/3dots-gray.svg" loading="lazy"
                              class="_3dots"></div>
                        </a>
                        <div class="flyout-menu-wrapper table-actions-flyout">
                          <div class="flyout-menu-content in-table">
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">visibility</div>
                                </div>
                              </div>
                              <div class="button-text">Visualizar</div>
                            </a>
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">Print</div>
                                </div>
                              </div>
                              <div class="button-text">Imprimir</div>
                            </a>
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">Download</div>
                                </div>
                              </div>
                              <div class="button-text">Descarregar</div>
                            </a>
                            <a href="#" class="menu-item w-inline-block">
                              <div class="menu-icon-wrapper">
                                <div class="icon menu-left-icon">
                                  <div class="main-font-icon">Delete</div>
                                </div>
                              </div>
                              <div class="button-text">Eliminar</div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="temporizador">
      <div class="tempo">
        <div class="text-block-258">Restam </div>
        <div class="dias">
          <div>0</div>
          <div>7</div>
        </div>
        <div class="label-tempo">
          <div class="text-block-257">Dias</div>
        </div>
      </div>
    </div>
  </div>
  <div class="close-flyout"></div>
  <div class="not-valid">
    <div class="text-block-116">Dimensão de ecrã não suportada...</div>
  </div>
  <div th:replace="~{layout/fragments/dashboard_layout :: scripts}"></div>
</body>

</html>